* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html {
    background-color: #e4e6e8;
    font-size: 24px;
    font-family: Open Sans;
}
body {
    background-color: #e4e6e8;
    line-height: 1rem;
    font-size: 0.66rem;
    color: #101418;
}
body>header {
    background-color: #00578e; --#337ab7;
    height: 4rem;
    padding-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
}
body>header>img {
    height: 8rem;
    max-width: 85%;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #00578e;
}
section.point {
    margin-left: auto;
    margin-right: auto;
    max-width: 33rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    position: relative;
}
section.point div.point-logo {
    text-align: center;
    margin-bottom: -3rem;
    position: absolute;
    width: 100%;
}
section.point div.point-logo img {
    height: 6rem;
    max-width: 77%;
    position: relative;
    top: -3rem;
    left: -1rem;
}
h2 {
    font-size: 1.333rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #00578e;
    color: #e4e6e8;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
section.point p.link a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 8rem;
    margin-left: auto;
    margin-right: -0.5rem;
    text-align: center;
    background-color: #00578e;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
footer {
    margin-top: 5rem;
    padding: 1rem;
    text-align: right;
    background-color: #101418;
    color: #e4e6e8;
}

@media only screen and (max-width : 22em) {
    h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    body>header {
        padding-top: 0;
        margin-bottom: 3rem;
        margin-top: -1rem;
    }
}

@media only screen and (max-width : 55em) {
    h1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    section.point {
        border-radius: 0;
        max-width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: none;
    }
    section.point h2 {
        border-radius: 0;
    }
    section.point p.link {
        width: auto;
        max-width: 8rem;
    }
}
