<html>
  <head>
    <title>Fedora Loves Python</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&amp;subset=latin' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <img src="{{ url_for('static', filename='img/fedoralovespython.svg') }}"
           alt="">
    </header>
    <h1>Fedora Loves Python</h1>
    <div class="points">
      {% for point in points %}
      <section class="point">
        {% if 'logo_url' in point %}
        <div class="point-logo">
          <img src="{{ point.logo_url }}" alt="">
        </div>
        {% endif %}
        <h2>{{ point.name }}</h2>
        <div class="point-content">
          {{ point.content | markdown }}
        </div>
        <div class="link">
          <a href="{{ point.link.href }}">{{ point.link.caption }}</a>
        </div>
      </section>
      {% endfor %}
    </div>
    <footer>
      <p class="disclaimer">
        {% filter markdown %}
            This site is not affiliated with either the Fedora Project
            or the Python Software Foundation.

            The content, except for any trademarked logos or unless otherwise
            noted, is licensed under [CC BY-SA] (by members of
            [Fedora Python SIG]).

            The micro:bit picture is *Copyright &copy; 2016 British
            Broadcasting Corporation*, licensed under [MIT].

            All product names, logos, and brands are property of their
            respective owners.

            See and modify the sources at [GitHub].

            See the points in: [JSON] | [Text] | [Terminal]

            [CC BY-SA]: https://creativecommons.org/licenses/by-sa/4.0/legalcode
            [Fedora Python SIG]: https://fedoraproject.org/wiki/SIGs/Python
            [MIT]: https://github.com/lancaster-university/microbit-docs/blob/master/LICENSE
            [GitHub]: https://github.com/fedora-python/fedoralovespython.org
            [JSON]: index.json
            [Text]: index.txt
            [Terminal]: index.term
        {% endfilter %}
      </p>
    </footer>
  </body>
</html>
